		<div class="row retour-boutique">
				<p><a routerLink="accueil"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Retour boutique</a></p>
				<hr>
				<!--<h3 *ngIf="produitSelectionne">{{produitSelectionne.libelle}}</h3>-->
				<h3 *ngIf="produitSelectionne">Sushi crevette</h3>
				
				<h5>Prix : 3 € | 1 pièce(s)</h5>
		</div>
		
		<div class="row">			
			<div class="col-md-6">
				
				<img src="assets/img/img-1.png" alt="">
				
				<p>Sous ses allures extrêmement simples le sushi Crevette exige une préparation du riz parfaite et des crevettes de première qualité pour faire de sa dégustation un vrai moment de plaisir.</p>
				
				<p class="detail-produit-btn-ajout"><a href="#" class="btn btn-ajout-panier">Ajouter au panier</a></p>
			
			</div>
		</div>

<footer-component></footer-component><!-- Pied de page (footer) -->

