
		<div class="row div-title-page">
			<h2>Détail de la commande référence {{id}}</h2>
			<hr>
		</div>

		<div class="row">			
			
			<div class="col-xs-12 col-sm-6 margin-t15">
				
					<table class="table">
						  <thead class="thead-inverse">
							<tr>
							  <th>Produit</th>
							  <th>Quantité</th>
							  <th>Prix</th>
							</tr>
						  </thead>
						  <tbody *ngFor="let lc of lignesCommande">
							<tr>
								<td>{{lc.id_produit.libelle}}</td>
								<td>{{lc.quantite}}</td>
								<td>{{lc.prix}}</td>
							</tr>
						  </tbody>
							<tbody>
								<tr class="bg-info">
								 <td colspan="2"><strong>TOTAL HT (pour info) :</strong></td>
								 <td>{{montantHT | number:'1.2-2'}} €</td><!-- au moins 2 chiffres après virgule et pas plus de 2 -->
								</tr>	
								<tr class="bg-info">
									<td colspan="2"><strong>Montant TVA:</strong></td><!-- Montant TVA = (0,2/1,2) x TTC -->
									<td>{{TVA}}%</td>
								</tr>
								<tr class="bg-primary">
									<td colspan="2"><strong>TOTAL TTC :</strong></td>
									<td>{{montantTTC | number:'1.2-2'}} €</td>
								</tr>				
						  </tbody>
					</table>
	
			</div>
			
		</div>

<footer-component></footer-component><!-- Pied de page (footer) -->

