		<div class="row retour-boutique" *ngIf="produitSelectionne">
				<p><a routerLink="/accueil"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Retour boutique</a></p>

				<h3>{{produitSelectionne.libelle}}</h3>
				<hr>				
				<h5>Prix : {{produitSelectionne.prix}} € | 1 pièce(s)</h5>
		</div>
		
		<div class="row">			
			<div class="col-md-6" *ngIf="produitSelectionne">
				
				<img src="assets/{{produitSelectionne.image}}" alt="{{produitSelectionne.image_alt}}" class="detail-produit-img">
				
				<p>{{produitSelectionne.description}}</p>
				
				<p class="detail-produit-btn-ajout"><button class="btn btn-ajout-panier" [@produitState]="produitSelectionne.statut" (click)="ajoutPanier(produitSelectionne)" [disabled]="produitSelectionne.stock == 0">Ajouter au panier</button></p>
			
			</div>
		</div>

<footer-component></footer-component><!-- Pied de page (footer) -->

