        <hr>        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar">
                        <ul class="nav navbar-nav sushi-navbar-footer">
                            <li>Copyright &copy; Sushi Shop 2017</li>
                            <li>Nous connaitre</li>
                            <li>Mentions légales</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
       