		<div class="row div-title-page">
				<h2>Paiement</h2>	
		</div>

		<!-- Message d'erreur -->
		<div *ngIf="errorMsg" class="alert alert-warning alert-dismissible" role="alert">
   			<strong>{{errorMsg}}</strong>
		</div>
		<!-- fin Message d'erreur -->
		
		<div class="row">			
			
			<div class="col-xs-12 col-sm-6 div-form">

				<h4 >Merci d'autoriser le paiement pour enregistrer la commande</h4>
				<br>
				
				<button type="submit" class="btn btn-primary" (click)="onValiderPaiement()">Valider le paiement</button>

				<!--<div class="alert-danger">{{errorMsg}}</div>-->
			</div>
			
		</div>

<footer-component></footer-component><!-- Pied de page (footer) -->

