		<div class="row div-title-page">
				<h2>Mon panier</h2>	
		</div>
		
		<div class="row">			
			
			<div class="col-xs-12 col-sm-6 margin-t15 panier">
				
					<table class="table membre-table-commandes">
						  <thead class="thead-inverse">
							<tr>
							  <th>Libellé article</th>
							  <th>Prix</th>
							  <th class="text-right">Quantité</th>
							  <th class="text-right">Montant</th>
							</tr>
						  </thead>
						  <tbody *ngFor="let l of panierForAff">
							<tr>
								<td>{{l.libelle}}</td>
								<td>{{l.prix}}</td>
								<td class="text-right">{{l.quantite}}</td>
								<td class="text-right">{{l.montant}}</td>
							</tr>
							<!--
							<tr>
								<td>Sushi crevette</td>
								<td>1,79</td>
								<td class="text-right">6</td>
								<td class="text-right">10,75</td>
							</tr>
							<tr>
								<td>Sushi thon</td>							
								<td>1,94</td>							
								<td class="text-right">3</td>
								<td class="text-right">5,82</td>
							</tr>
							<tr>
								<td>Spring roll</td>
								<td>3,50</td>
								<td class="text-right">1</td>	
								<td class="text-right">3,50</td>	
							</tr>
							<tr class="bg-info">
								<td colspan="3"><strong>TOTAL HT :</strong></td>
								<td class="text-right">16.52 €</td>
							</tr>							
							<tr>
								<td colspan="3"><strong>Montant TVA :</strong></td><!-- Montant TVA = (0,2/1,2) x TTC -->
							<!--	<td class="text-right">20%</td>
							</tr>
							<tr class="bg-info">
								<td colspan="3"><strong>TOTAL TTC :</strong></td>
								<td class="text-right">19,82 €</td>
							</tr>							
							 -->
						  </tbody>
						  <tbody>
							  <tr class="bg-info">
								<td colspan="3"><strong>TOTAL HT (pour info) :</strong></td>
								<td class="text-right">{{montantHT | number:'1.2-2'}} €</td>
							</tr>							
							<tr>
								<td colspan="3"><strong>Montant TVA :</strong></td><!-- Montant TVA = (0,2/1,2) x TTC -->
								<td class="text-right">{{TVA}}%</td>
							</tr>
							<tr class="bg-info">
								<td colspan="3"><strong>TOTAL TTC :</strong></td>
								<!--<td class="text-right">{{montantTTC}} €</td>-->
								<!--<td class="text-right">{{montantTTC | currency:'EUR':true:'1.2-2' }}</td>| number:'3.2-->
								<td class="text-right">{{montantTTC | number:'1.2-2'}} €</td>
							</tr>
						  </tbody>
					</table>
					
					<div class="text-right">
						<button type="button" (click)="validerPanier()" class="btn btn-primary" [disabled]="isConnected == false">Valider le panier</button>
						<button type="button" (click)="viderPanier()" class="btn btn-primary">Vider le panier</button>
					</div>
	
			</div>
			
		</div>	

<footer-component></footer-component><!-- Pied de page (footer) -->

