		<div class="row div-title-page">
				<h2>Bonjour {{name}} !</h2>
				<hr>
				<h5>Votre numéro client : {{id}}</h5>
		</div>
		
		<div class="row">
			<h3>Voici la liste de vos commandes passées :</h3>
		</div>
		
		<div class="row">	
			<div class="col-xs-12 col-sm-6 margin-t15 liste-commandes-min-height">
				
					<table class="table">
						  <thead>
							<tr>
							  <th>Référence</th>
							  <th>Date</th>
							  <th>Détail</th>
							</tr>
						  </thead>
						  <tbody *ngFor="let c of commandes">
								<tr>
									<td>{{c.id}}</td>
									<td>{{c.date | date:'dd/MM/y'}}</td>
									<td><a [routerLink]="['/detailcommande', c.id]">Voir le détail</a></td>
								</tr>
						  </tbody>
					</table>
		
			</div>
		</div>

<footer-component></footer-component><!-- Pied de page (footer) -->

