		<!-- Filtres de tri -->
		<div class="row div-filtres">
			<div class="form-group">
				<div class="col-md-4">
					<label>Filtrer par mot-clé</label>
					<input #inputMotCleFilter (keyup)="0" class="form-control">
				</div>
				<div class="col-md-4">
					<label>Filtrer par catégorie</label>
					<select #categorieFilter (keyup)="0" class="form-control">
                        <option></option>  
						<option value ="1">Sushi</option>
						<option value ="2">Maki</option>
						<option value ="3">Spring Roll</option>
						<option value ="4">California Roll</option>
					</select>
				</div>
				<div class="col-md-4">				
					<label>Filtrer par promotion</label>
					<select class="form-control" id="">
                        <option></option>>        
						<option value ="1">5%</option>
						<option value ="2">10%</option>
						<option value ="3">15%</option>
						<option value ="4">20%</option>
					</select>
				</div>
			</div>
		</div>
		<!-- / Filtres de tri -->    	
        
        <!-- Ligne (row) avec 4 vignettes -->       
        <div class="row text-center">

            <!--<div *ngFor="let p of produits | motCleFilter:inputMotCleFilter.value | categorieFilter:categorieFilter.value" class="col-md-3 col-sm-6 hero-feature">-->
			<div *ngFor="let p of produits | motCleFilter:inputMotCleFilter.value" class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="assets/{{p.image}}" alt="{{p.image_alt}}">
                    <div class="caption">
                        <div>
							<h4 class="h4-vignette">{{p.libelle}}</h4>	

							<h4 *ngIf="p.stock > 0">Prix : {{p.prix}} €</h4>
							<h4 *ngIf="p.stock == 0" class="h5-rupture-stock">Rupture de stock</h4>
						</div>	
                        <p class="p-avec-boutons">
                            <button type="button" class="btn btn-ajout-panier" (click)="ajoutPanier(p)" [disabled]="p.stock == 0">Ajouter</button> <a [routerLink]="['/detailproduit', p.id]" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Détails</a>
                        </p>
                    </div>
                </div>
            </div>
			
        </div>
        <!-- /.row -->