    	<!-- Ligne (row) avec 4 vignettes -->
        <div class="row text-center">

            <div *ngFor="let p of produits" class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="assets/{{p.image}}" alt="{{p.image_alt}}">
                    <div class="caption">
                        <h4 class="h3-vignette">{{p.libelle}}</h4>
                        <p>
                            <a href="#" class="btn btn-ajout-panier">Ajouter</a> <a routerLink="/detailproduit" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Détails</a>
                        </p>
                    </div>
                </div>
            </div>
			
        </div>
        <!-- /.row -->