/* la ligne (div.row) contenant les filtres */
.div-filtres{
	margin-bottom: 40px;
}

/* Paragraphe contenant les boutons ajouter et supprimer */
.p-avec-boutons{
	margin-top: 20px;
	margin-bottom: 20px;
}

/* h4 vignette produit */
.h4-vignette{
	margin-top: 0; 
	margin-bottom: 15px;
}

/* bouton Ajouter au panier*/
.btn-ajout-panier{
	background-color: #ea5819;
	border-color: #f94c02;
	color: #fff;
}


p-avec-boutons button.button.btn.btn-ajout-panier:active{
	box-shadow: none !important;
}

/* bouton Ajouter au panier - changement de couleur au survol et au focus */

/*.btn-ajout-panier:hover, .btn-ajout-panier:focus{
	background-color: #008B8B;
	border-color: #008B8B;
	color: #fff;
}*/

.h5-rupture-stock{
	color: RoyalBlue;
}