		<!-- Filtres de tri -->
		<div class="row div-filtres">
			<div class="form-group">
				<div class="col-md-4">
					<label>Trier par catégorie</label>
					<select class="form-control" id="">
						<option value ="">Sushi</option>
						<option value ="">Maki</option>
						<option value ="">Spring Roll</option>
						<option value ="">California Roll</option>
					</select>
				</div>
				<div class="col-md-4">
					<label>Trier par prix</label>
					<select class="form-control" id="">
						<option value ="">0-5 euros</option>
						<option value ="">5-10 euros</option>
						<option value ="">10-15 euros</option>
						<option value ="">Plus de 15 euros</option>
					</select>	
				</div>
				<div class="col-md-4">				
					<label>Trier par promotion</label>
					<select class="form-control" id="">
						<option value ="">5%</option>
						<option value ="">10%</option>
						<option value ="">15%</option>
						<option value ="">20%</option>
					</select>
				</div>
			</div>
		</div>
		<!-- / Filtres de tri -->